@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    layui.use(['jquery', 'form', 'laydate','xmSelect', 'optimizeSelectOption', 'common'], function () {
        var form = layui.form,
            $ = layui.$,
            common = layui.common,
            laydate = layui.laydate,
            upload = layui.upload,
            xmSelect = layui.xmSelect;

        var keyValue = $.request("keyValue");
        var itemId = $.request("itemId");
        //权限字段
        common.authorizeFields('adminform');

        laydate.render({
            elem: '#F_MeetingStartTime',
            format: 'yyyy/MM/dd HH:mm:ss',
            type:'datetime',
        });
        laydate.render({
            elem: '#F_MeetingEndTime',
            format: 'yyyy/MM/dd HH:mm:ss',
            type: 'datetime',
        });
        laydate.render({
            elem: '#F_PublishTime',
            format: 'yyyy/MM/dd HH:mm:ss',
            type: 'datetime',
        });
         var channelSelect= xmSelect.render({
             el: '#channelSelect',
            autoRow: true,
            filterable: true,
            radio: true,
            direction: 'down',
            tree: {
                show: true,
                showFolderIcon: true,
                showLine: true,
                indent: 20,
                strict: false,
                clickExpand: true,
                clickCheck: true,
                expandedKeys: true
            },
            toolbar: {
                show: true,
                list: ['ALL', 'REVERSE', 'CLEAR']
            },
            filterable: true,
            height: 'auto',
            data: function () {
                return  @Html.Raw(ViewBag.channel)
            }
         });

        var citySelect =xmSelect.render({
            el: '#citySelect',
            autoRow: true,
            radio: true,
            filterable: true,
            toolbar: {
                show: true,
                list: ['ALL', 'REVERSE', 'CLEAR']
            },
            data: @Html.Raw(ViewBag.cityInfo),
        });

        var tagSelect= xmSelect.render({
            el: '#tagSelect',
            autoRow: true,
            filterable: true,
            direction: 'down',
            tree: {
                show: true,
                showFolderIcon: true,
                showLine: true,
                indent: 20,
                strict: false,
                clickExpand: true,
                clickCheck: true,
                expandedKeys: true
            },
            toolbar: {
                show: true,
                list: ['ALL', 'REVERSE', 'CLEAR']
            },
            filterable: true,
            height: 'auto',
            data: function () {
                return  @Html.Raw(ViewBag.lable)
            }
        });
        var contentTagSelect= xmSelect.render({
            el: '#contentTagSelect',
            autoRow: true,
            filterable: true,
            direction: 'down',
            tree: {
                show: true,
                showFolderIcon: true,
                showLine: true,
                indent: 20,
                strict: false,
                clickExpand: true,
                clickCheck: true,
                expandedKeys: true
            },
            toolbar: {
                show: true,
                list: ['ALL', 'REVERSE', 'CLEAR']
            },
            filterable: true,
            height: 'auto',
            data: function () {
                return  @Html.Raw(ViewBag.contentlable)
            }
        });
        var authorSelect =xmSelect.render({
            el: '#authorSelect',
            autoRow: true,
            filterable: true,
            toolbar: {
                show: true,
                list: ['ALL', 'REVERSE', 'CLEAR']
            },
            data: @Html.Raw(ViewBag.expert),
        });
        var event = $.request("event");
        wcLoading.close();
        //此处需修改
        //类型为时间时
        //laydate.render({
            //elem: '#F_Birthday'
            //, btns: ['clear', 'now']
            //, trigger: 'click',
            //format: 'yyyy-MM-dd',
        //});
        $(function () {
            initControl();

            if (event == "edit") {
                var newsdata = JSON.parse('@Html.Raw(ViewBag.Content)');
                common.val('adminform', newsdata);
                var Description2 = newsdata.F_LiveIntroduction;
                var Description3 = newsdata.F_WonderfulContent;
                if (!!newsdata.ImgUrl) {
                    ImgUrlPic.src = newsdata.ImgUrl;
                }
                if (Description2 != null) {
                var editor2 = UE.getEditor("F_LiveIntroduction");
                editor2.ready(function () {
                    editor2.setContent(Description2);
                });
                }
                if (Description3 != null) {
                var editor3 = UE.getEditor("F_WonderfulContent");
                editor3.ready(function () {
                    editor3.setContent(Description3);
                });
                }
                if (newsdata.F_SubChannelId != null) {
                    var channelarr = newsdata.F_SubChannelId.split(',');
                    channelSelect.setValue(channelarr);
                }
                if (newsdata.F_City != null) {
                    var channelarr = newsdata.F_City.split(',');
                    citySelect.setValue(channelarr);
                }
                if (newsdata.F_Tags != null) {
                    var tagarr = newsdata.F_Tags.split(',');
                    tagSelect.setValue(tagarr);
                }
                if (newsdata.F_ContentLable != null) {
                    var tagarr = newsdata.F_ContentLable.split(',');
                    contentTagSelect.setValue(tagarr);
                }
                if (newsdata.F_Author != null) {
                    var authorrr = newsdata.F_Author.split(',');
                    authorSelect.setValue(authorrr);
                }
            }
            if ($("#F_CoverImage").val() != "") {
                $("#F_ImgUrlPic").attr("src", $("#F_CoverImage").val());
                $("#imgshow").removeAttr("class", "layui-hide");
            }

            if ($("#F_LiveBroadcast").val() != "") {
                $('.liveBroadcast').show();
                $('.video').hide();
                $('.href').hide();
            }
            if ($("#F_Video").val() != "") {
                $("#videoShow").find("video").attr("src", $("#F_Video").val())
                $("#videoShow").removeAttr("class", "layui-hide");
                $('.liveBroadcast').hide();
                $('.video').show();
                $('.href').hide();
            }
    if ($("#F_ContentHref").val() != "") {
                $('.liveBroadcast').hide();
                $('.video').hide();
                $('.href').show();
            }

           form.render();
       });

       function initControl() {
           $("#F_ChannelId").bindSelect({
               url: "@(YMWeb.Code.GlobalContext.SystemConfig.VirtualDirectory)/ContentManage/Channel/GetTreeSelectJson"
           });
           $("#F_ChannelId").val('@(ViewBag.ChannelId)');

           $('#F_LiveBroadcast').on("input propertychange", function () {
               $('.liveBroadcast').show();
               $('.video').hide();
               $('.href').hide();
           });
           $('#F_Video').on("input propertychange", function () {
               $('.liveBroadcast').hide();
               $('.video').show();
               $('.href').hide();
           });
           $('#F_ContentHref').on("input propertychange", function () {
               $('.liveBroadcast').hide();
               $('.video').hide();
               $('.href').show();
           });
       }
        //select验证
        form.verify({
            required: function (value, item) {
                var msg = "必填项不能为空";
                value = $.trim(value);
                var isEmpty = !value || value.length < 1;
                // 当前验证元素是select且为空时,将页面定位至layui渲染的select处，或自定义想定位的位置
                if (item.tagName == 'SELECT' && isEmpty) {
                    $("html").animate({
                        scrollTop: $(item).siblings(".layui-form-select").offset().top - 74
                    }, 50);
                }
                if (isEmpty) {
                    return msg;
                }
            }
        });
       //监听提交
        form.on('submit(saveBtn)', function (data) {
           // 单击之后提交按钮不可选,防止重复提交
           $('.site-demo-active').addClass('layui-btn-disabled');
           $('.site-demo-active').attr('disabled', 'disabled');
            var postData = data.field;
           if (!postData["F_LiveIntroduction"]) postData["F_LiveIntroduction"] = UE.getEditor('F_LiveIntroduction').getContent();
           if (!postData["F_WonderfulContent"]) postData["F_WonderfulContent"] = UE.getEditor('F_WonderfulContent').getContent();
            if (!postData["F_EnabledMark"]) postData["F_EnabledMark"] = false;
            if (!postData["F_IsRecommend"]) postData["F_IsRecommend"] = false;
            if (!postData["F_IsAuthorization"]) postData["F_IsAuthorization"] = false;
            if (!postData["F_IsLive"]) postData["F_IsLive"] = false;
            if (!postData["F_IsTop"]) postData["F_IsTop"] = false;
           if (!postData["F_Status"]) postData["F_Status"] = false;
            postData["F_ItemId"] = itemId;
            postData["F_SubChannelId"] = channelSelect.getValue('valueStr');
            postData["F_Tags"] = tagSelect.getValue('valueStr');
            postData["F_City"] = citySelect.getValue('valueStr');
            postData["F_ContentLable"] = contentTagSelect.getValue('valueStr');
            postData["F_Author"] = authorSelect.getValue('valueStr');
           common.submitForm({
               url: event == "edit" ? "@(YMWeb.Code.GlobalContext.SystemConfig.VirtualDirectory)/ContentManage/Content/SubmitForm?keyValue=" + keyValue : "@(YMWeb.Code.GlobalContext.SystemConfig.VirtualDirectory)/ContentManage/Content/SubmitForm",
               param: postData,
               success: function () {
                   common.reloadIframe("@(YMWeb.Code.GlobalContext.SystemConfig.VirtualDirectory)/ContentManage/Content/Index", 'data-search-btn');
               }
           })
           return false;
       });
   });
</script>

<body>
    <div class="layuimini-container">
        <div class="layuimini-main" style="margin-bottom: 80px;">
            <div class="layui-form layuimini-form" lay-filter="adminform">
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label required">栏目</label>
                    <div class="layui-input-block">
                        <select id="F_ChannelId" name="F_ChannelId" lay-filter="F_ChannelId" lay-search>
                            <option value="">请选择栏目</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label required">视频标题</label>
                    <div class="layui-input-block">
                        <input type="hidden" id="F_HitCount" name="F_HitCount" value="0">
                        <input type="hidden" id="F_LikeCount" name="F_LikeCount" value="0">
                        <input type="hidden" id="F_CommentCount" name="F_CommentCount" value="0">
                        <input type="hidden" id="F_SubscriptionCount" name="F_SubscriptionCount" value="0">
                        <input type="hidden" id="F_FavoritesCount" name="F_FavoritesCount" value="0">
                        <input type="hidden" id="F_HitBackToCount" name="F_HitBackToCount" value="0">
                        <input type="text" id="F_Titile" name="F_Titile" autocomplete="off" maxlength="200" lay-verify="required" class="layui-input">
                    </div>
                </div>


                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label">缩略图</label>
                    <div class="layui-input-block" style="padding-right: 110px;">
                        <input type="text" class="layui-input" name="F_CoverImage" id="F_CoverImage" maxlength="255" readonly="readonly">
                        <button type="button" class="layui-btn" style="position: absolute;top: 0;right: 0;cursor: pointer;" id="j_upload_img_btn">
                            <i class="layui-icon"></i>上传图片
                        </button>
                        <ul id="upload_img_wrap"></ul>
                        <textarea id="uploadEditor" style="display: none;"></textarea>
                        <span style="color:red">(750*420)上传图片不能大于1M</span>
                    </div>
                </div>
                <div class="layui-form-item layui-hide" id="imgshow">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-block">
                        <img id="F_ImgUrlPic" width="200" height="200" onclick="previewImg(this)" />
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label">视频</label>
                    <div class="layui-input-block" style="padding-right: 110px;">
                        <input type="text" class="layui-input" name="F_Video" id="F_Video" maxlength="255" readonly="readonly">
                        <button type="button" class="layui-btn" style="position: absolute;top: 0;right: 0;cursor: pointer;" id="j_upload_img_btn1">
                            <i class="layui-icon"></i>上传视频
                        </button>
                        <ul id="upload_img_wrap"></ul>
                        <textarea id="uploadEditor1" style="display: none;"></textarea>

                    </div>
                </div>

                <div class="layui-form-item layui-hide" id="videoShow">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-block">
                        <video src="" width="500px" height="300px" controls></video>
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label required">内容</label>
                    <div class="layui-input-block">
                        <textarea id="F_LiveIntroduction" name="F_LiveIntroduction" type="text/plain" style="width:100%;height:400px;"></textarea>
                    </div>
                </div>
                <div class="layui-form-item layui-hide" style="display:none;">
                    <label class="layui-form-label ">精彩看点</label>
                    <div class="layui-input-block">
                        <textarea id="F_WonderfulContent" name="F_WonderfulContent" type="text/plain" style="width:100%;height:400px;"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">城市</label>
                    <div class="layui-input-block">
                        <div id="citySelect" class="xm-select-demo"></div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">副栏目</label>
                    <div class="layui-input-block">
                        <div id="channelSelect" class="xm-select-demo"></div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">索引词</label>
                    <div class="layui-input-block">
                        <div id="tagSelect" class="xm-select-demo"></div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">内容标签</label>
                    <div class="layui-input-block">
                        <div id="contentTagSelect" class="xm-select-demo"></div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">讲者</label>
                    <div class="layui-input-block">
                        <div id="authorSelect" class="xm-select-demo"></div>
                    </div>
                </div>
                <div class="layui-form-item layui-hide" style="display:none;">
                    <label class="layui-form-label ">会议开始时间</label>
                    <div class="layui-input-block">
                        <input type="text" id="F_MeetingStartTime" name="F_MeetingStartTime" autocomplete="off" maxlength="200" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-hide" style="display:none;">
                    <label class="layui-form-label ">会议结束时间</label>
                    <div class="layui-input-block">
                        <input type="text" id="F_MeetingEndTime" name="F_MeetingEndTime" autocomplete="off" maxlength="200" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-hide" style="display:none;">
                    <label class="layui-form-label">会议时间段</label>
                    <div class="layui-input-block">
                        <input type="text" id="F_MeetingTimePeriod" name="F_MeetingTimePeriod" autocomplete="off" class="layui-input">
                        <span style="color:red">开始时间与结束时间用英文符号~隔开；时间段用英文符号,隔开。</span>
                        <span style="color:red">eg:2021-05-31 07:00:00~2021-05-31 11:00:00,2021-06-01 07:00:00~2021-06-01 11:00:00,2021-06-02 07:00:00~2021-06-02 11:00:00</span>
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label">排序</label>
                    <div class="layui-input-block">
                        <input type="number" pattern="[0-9]*" id="F_Order" name="F_Order" lay-verify="required" class="layui-input" value="0">
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label">选项</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="F_EnabledMark" id="F_EnabledMark" checked="" value="true" title="有效">
                        <input id="F_IsTop" name="F_IsTop" type="checkbox" value="true" title="是否置顶">
                        <input type="checkbox" name="F_IsRecommend" id="F_IsRecommend" value="true" title="是否推荐">
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label">发布时间</label>
                    <div class="layui-input-block">
                        <input type="text" id="F_PublishTime" name="F_PublishTime" autocomplete="off" maxlength="200" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label">审核状态</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="F_Status" id="F_Status" checked="" value="true" title="审核通过">
                    </div>
                </div>

                <div class="layui-form-item layui-hide liveBroadcast" style="display:none;">
                    <label class="layui-form-label">直播链接</label>
                    <div class="layui-input-block">
                        <input type="text" id="F_LiveBroadcast" name="F_LiveBroadcast" autocomplete="off" maxlength="255" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-hide liveBroadcast" style="display:none;">
                    <label class="layui-form-label">三方直播Id</label>
                    <div class="layui-input-block">
                        <input type="text" id="F_LiveBroadcastId" name="F_LiveBroadcastId" autocomplete="off" maxlength="255" class="layui-input" placeholder="填写直播回传唯一标识">
                    </div>
                </div>
                @* <div class="layui-form-item layui-hide video" style="display:none;">
            <label class="layui-form-label">视频ID</label>
            <div class="layui-input-block">
                <input type="text" id="F_Video" name="F_Video" autocomplete="off" maxlength="255" class="layui-input" placeholder="填写后后台数据分析出视频地址再进行跳转">
            </div>
        </div>*@
                <div class="layui-form-item layui-hide href">
                    <label class="layui-form-label">外部链接</label>
                    <div class="layui-input-block">
                        <input type="text" id="F_ContentHref" name="F_ContentHref" autocomplete="off" maxlength="255" class="layui-input" placeholder="填写后直接跳转到第三方视频平台">
                    </div>
                </div>
                @*<div class="layui-form-item layui-hide">
            <label class="layui-form-label">视频LiveId</label>
            <div class="layui-input-block">
                <input type="text" id="F_LiveId" name="F_LiveId" autocomplete="off" maxlength="255" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-hide">
            <label class="layui-form-label">视频UserPass</label>
            <div class="layui-input-block">
                <input type="text" id="F_UserPass" name="F_UserPass" autocomplete="off" maxlength="255" class="layui-input">
            </div>
        </div>*@
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label">Seo标题</label>
                    <div class="layui-input-block">
                        <input type="text" id="F_SeoTitle" name="F_SeoTitle" autocomplete="off" class="layui-input" placeholder="不填写则默认为网站标题">
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label">Seo关键字</label>
                    <div class="layui-input-block">
                        <input type="text" id="F_SeoKeywords" name="F_SeoKeywords" autocomplete="off" class="layui-input" placeholder="不填写则默认为网站摘要">
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label">Seo描述</label>
                    <div class="layui-input-block">
                        <textarea id="F_SeoDescription" name="F_SeoDescription" autocomplete="off" class="layui-textarea" placeholder="不填写则自动截取内容前255字符"></textarea>
                    </div>
                </div>

                <div class="form-group-bottom text-right">
                    <div class="layui-input-block">
                        <button class="layui-btn site-demo-active" lay-submit lay-filter="saveBtn">
                            &emsp;保存&emsp;
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <link href="~/lib/ueditor/themes/default/css/ueditor.css?v=1.3" rel="stylesheet" />
    <script type="text/javascript" charset="utf-8" src="~/lib/ueditor/ueditor.config.js?v=1.3"></script>
    <script type="text/javascript" charset="utf-8" src="~/lib/ueditor/ueditor.all.js?v=1.3"></script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" src="~/lib/ueditor/lang/zh-cn/zh-cn.js"></script>

    <script type="text/javascript">
        // 加载 ueditor，传入的初始化参数可以覆盖掉 ueditor.config.js 中的配置
        // 对于同一项目中使用不同的配置的 ueditor 场景非常有用
        var ue1 = UE.getEditor('F_LiveIntroduction', {
            initialFrameHeight: 250,
            autoFloatEnabled: false, //取消悬浮
            // , initialFrameWidth:796
            zIndex: 0,
            wordCount: false
        });
        var ue2 = UE.getEditor('F_WonderfulContent', {
            initialFrameHeight: 250,
            autoFloatEnabled: false, //取消悬浮
            // , initialFrameWidth:796
            zIndex: 0,
            wordCount: false
        });

        // 实例化编辑器，这里注意配置项隐藏编辑器并禁用默认的基础功能。
        var uploadEditor = UE.getEditor("uploadEditor", {
            isShow: false,
            focus: false,
            enableAutoSave: false,
            autoSyncData: false,
            autoFloatEnabled: false,
            wordCount: false,
            sourceEditor: null,
            scaleEnabled: true,
            toolbars: [["insertimage", "attachment"]]
        });

        var uploadEditor1 = UE.getEditor("uploadEditor1", {
            isShow: false,
            focus: false,
            enableAutoSave: false,
            autoSyncData: false,
            autoFloatEnabled: false,
            wordCount: false,
            sourceEditor: null,
            scaleEnabled: true,
            toolbars: [["insertvideo", "attachment"]]
        });
    </script>
    <script>
        $(function () {
            // 监听多图上传和上传附件组件的插入动作
            uploadEditor.ready(function () {
                uploadEditor.addListener("beforeInsertImage", _beforeInsertImage);
            });
            uploadEditor1.ready(function () {
                uploadEditor1.addListener("afterUpVideo", _afterUpVideo);
            });
            // 自定义按钮绑定触发多图上传和上传附件对话框事件
            document.getElementById('j_upload_img_btn').onclick = function () {
                var dialog = uploadEditor.getDialog("insertimage");
                dialog.title = '图片上传';
                dialog.render();
                dialog.open();
            };


            document.getElementById('j_upload_img_btn1').onclick = function () {
                var dialog = uploadEditor1.getDialog("insertvideo");
                dialog.title = '视频上传';
                dialog.render();
                dialog.open();
            };

        });
        // 多图上传动作
        function _beforeInsertImage(t, result) {
            var imageHtml = '';
            $("#F_CoverImage").val(result[0].src);
            $("#F_ImgUrlPic").attr("src", result[0].src);
            $("#imgshow").removeAttr("class", "layui-hide");
            //for (var i in result) {
            //    imageHtml += '<li><img src="' + result[i].src + '" alt="' + result[i].alt + '" height="150"></li>';
            //}
            //document.getElementById('upload_img_wrap').innerHTML = imageHtml;
        }

        function previewImg(obj) {
            var imgHtml = "<img src='" + obj.src + "' />";
            //弹出层
            layer.open({
                type: 1,
                shade: 0.8,
                offset: 'auto',
                area: ['750px', '600px'],
                shadeClose: true,//点击外围关闭弹窗
                scrollbar: false,//不现实滚动条
                title: "图片预览", //不显示标题
                content: imgHtml, //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
                cancel: function () {
                    //layer.msg('捕获就是从页面已经存在的元素上，包裹layer的结构', { time: 5000, icon: 6 });
                }
            });
        }

        function _afterUpVideo(t, result) {

            //var fileHtml = '';
            for (var i in result) {
                $("#F_Video").val(result[i].url);
                $("#videoShow").find("video").attr("src", result[i].url)
                $("#videoShow").removeAttr("class", "layui-hide");
                //fileHtml += '<li><a href="' + result[i].url + '" target="_blank">' + result[i].url + '</a></li>';
            }
            // document.getElementById('upload_video_wrap').innerHTML = fileHtml;
        }
    </script>

</body>